body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Permanent Marker', cursive; 
    background: url("./img/1.jpg") 50%/cover no-repeat scroll;
}
.wrapper{
    margin: 20px auto;
    max-width: 1100px;
    background-color: rgb(251, 247, 247);
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 213, 69);
    font-size: 14px ;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bold;
 
}
.logo{
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 14px ;
}
.logo:hover{
    cursor: pointer;

}
.nav{
    display: flex;
    list-style-type: none; /* убираем точки перед элементами списка*/
    padding-left: 0; /* у любого списка есть отступ слева, который нам е нужен*/
}
.item{
    margin: 1px 0px 1px 52px;
}
.link{
    color: rgb(16, 14, 5);
    text-decoration: none;
    font-size: 14px;
}
.count{

    background-color: rgba(225, 149, 50, 0);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}
.main{
    display: flex;
    justify-content: space-between; /* делаем все в колонки по горизонтали*/
    max-width: 1100px;
    
}
.sale, .box {
    flex: 0 0 50%;
}
.sale{
    padding-left: 20px;
    max-width: 530px;
}

.sale-description{
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.sale-title{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.btn{
    padding: 15px 20px;
    background-color: rgba(225, 149, 50, 0.651);
    color: black;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase; /*все буквы заглавные*/
    
}
.box{
    position: relative;

    
}
.box-price{
    position: absolute;
    right: 0;
}
.box-image{
       max-width: 530px;

  
}
.box-price_old{
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin: 10px 25px 0px 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.box-price_new{
    font-size: 35px;
    font-weight: 700;
    color: red;
    margin: 10px 25px 0px 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.page-dark{
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px 0px;
}
 .notice-title{
    font-size: 30px;
    text-transform: uppercase;
 }
 .notice-title>span{
    font-weight: 700;
 }
 .collection{
    display: flex;
    justify-content: space-between;
    font-family: 'Kdam Thmor Pro', sans-serif;

 }
 .collection-man, .collection-women{
    flex: 0 0 50%;
    text-transform: uppercase; /*все буквы заглавные*/
 }

 .btn-second{
    margin: 5px 0px 0px 20px;
    
    background-color: rgba(225, 149, 50, 0.651);
    color: black;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 16px;
    font-style: lowercase;

 }
 .collection-man-image{
    max-width: 550px;
 }
 .collection-women-image{
    max-width: 550px;
 }
.collection-title{
    margin: 15px 0px 5px 20px;
}
.new-models{
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
}
.new-models-title{
    font-size: 36px;
    text-transform: uppercase;
}
.product{
    display: flex;
    justify-content: space-between;
    color: black;
}
.produc-title-1, .product-price{
    color: black;
}
#produc-img-1{
    width: 220px;
}
.btn_4{
    margin: 0 auto;
    padding: 15px 20px;
    max-width: 200px;
    display: block;
    background-color: rgba(225, 149, 50, 0.651);
    color: black;
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase; /*все буквы заглавные*/
    text-align: center;
}

.btn_4>span{
    margin-right: 15px;
}
.footer{
   padding: 20px;
   margin-top: 15px;
   color: white;
   background-color: black;
   

}

